*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.651);
}
html {
  scroll-behavior: smooth;
  font-size: 1.5rem;
}
:root {
  --main: #333333;
  --base: #727272;
  --accent: #b2b2b2;
  --blend: #c4c4c4;

  --dark: #252627;
  --dark2: #18181870;
  --light: #707070;

  --green: #4bcfad;
  --red: #ed5565;
  --white: #bfbfbf;
}

body {
  background-color: var(--dark);
}
header {
  padding: 20px 0;
  background-color: var(--dark2);
}

.container {
  padding: 20px 10px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar li {
  list-style-type: none;
  margin-left: 30px;
  text-transform: uppercase;
}
.navbar a {
  text-decoration: none;
}
.navbar 
a:hover,
h1:hover {
  color: var(--red);
  transition: 0.6s;
}
h1 {
  font-size: 1.9rem;
  opacity: 0.5;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN */
.main-info{
    margin-top: 20px;
}
.main-info p {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.main-info p:hover {
  color: var(--green);
  transition: 0.8s;
}
.main-info span {
  color: var(--red);
}
.sub-info p {
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  word-spacing: 10px;
  letter-spacing: 6px;
  color: var(--white);
  justify-content: center;
}
.sub-info p:hover {
    color: var(--red);
}

.cta-btn a{
    padding: 10px 20px;
    display: flex;
    background-color: none;
    text-decoration: none;
    border: 3px solid var(--red);
    justify-content: center;
    color: var(--red);
    font-size: 0.8rem;
    margin-top: 20px;
}
.cta-btn a:hover {
    background-color: var(--red);
    transition: 0.5s;
    color: var(--white);
}


/* ABOUT */







#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--red);
  cursor: pointer;
  border-radius: 4px;
  width: 50px;
  height: 50px;
  padding: 12.5px 0;
}

@media only screen and (min-width: 600px) {
  .navbar ul {
    display: flex;
  }

}

/* @media only screen and (min-width: 768px) {
    letter-spacing

}*/

/* @media only screen and (min-width: 992px) {...} */

/* @media only screen and (min-width: 1200px) {...}  */
